<div class="row">
<div class="col-md-10" >
<h1>FoodItemOnMenu CRUD mongodb</h1>

 
  
  <div class="row">
    <div class="col-md-3">
		<label for="singleSelect">FoodF: </label><br>
		<select name="singleSelect" ng-model="filterData.name">
		
		  <option value="">All</option>
		  <option value="applied">applied</option>
		  <option value="forensics">forensics</option>
		  <option value="ssd">ssd</option>
	   
		</select>    
	</div>
    <div class="col-md-3">
		<label for="singleSelect">Year: </label><br>
		<select name="singleSelect" ng-model="filterData.price">
		  <option value="">All</option>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>	  
		</select>    
	</div>  
   
  </div>
 
  </form>
  <br>

   {{newFoodItemOnMenuRaw | json}} -- {{newFoodItemOnMenuRaw.json.length}}
<hr>
<p>
 Record(s): {{FoodItemsOnMenu.length}} <p>
 
 <hr>
 
 <div class="row">
 <div class="col-md-1">
	#No
 </div>
  <div class="col-md-3">
    Category
 </div>
  <div class="col-md-3">
    Name
 </div>
  <div class="col-md-1">
    Pricce
 </div>

</div> 
  
 <div id="showFoodItemsOnMenu" >
 <div id="{{f._id}}" class="row" ng-repeat="f in FoodItemsOnMenu  | orderBy:['category','name', 'price'] track by f._id"
 ng-include src="getTemplate(s)"
 >

</div>
</div>
    
    
    
//====================================================================================================================================

    			 

    <h1>Your Specials</h1>
     <button type="button" class="btn btn-primary btn-xs" ng-click="loadSpecials()">Load the Specials</button>
    <p>
 Basket Size: {{basket.length}}<p>
 
 <hr>
 
 <div class="row">
 <div class="col-md-1">
	Item Number
 </div>
  <div class="col-md-1">
    Category
 </div>
  <div class="col-md-3">
    Name
 </div>
  <div class="col-md-1">
    Price €
 </div>

</div> 

    
    
    
 <div id="displayspecials" >
 <div id="{{s._id}}" class="row" ng-repeat="s in specials  | orderBy:['category',' name', 'price'] track by s._id">
 <div class="col-md-1">
		 {{$index+1}}
		 </div>
		  <div class="col-md-1"   >
			{{s.category}}
		 </div>
		  <div class="col-md-3">
			{{s.name}}
		 </div>
		  <div class="col-md-1">
			{{s.price}}
		 </div>
     
     
     
       



		  <div class="col-md-1">
		 </div>
</div>
</div>
 
    
    
    
    
    
    
//====================================================================================================================================
    <h1>Your Basket</h1>
    <p>
 Basket Size: {{basket.length}}<p>
 
 <hr>
 
 <div class="row">
 <div class="col-md-1">
	Item Number
 </div>
  <div class="col-md-1">
    Category
 </div>
  <div class="col-md-3">
    Name
 </div>
  <div class="col-md-1">
    Price €
 </div>

</div> 

 <div id="showBasket" >
 <div id="{{o._id}}" class="row" ng-repeat="o in orders  | orderBy:['category',' name', 'price'] track by o._id">
 <div class="col-md-1">
		 {{$index+1}}
		 </div>
		  <div class="col-md-1"   >
			{{o.category}}
		 </div>
		  <div class="col-md-3">
			{{o.name}}
		 </div>
		  <div class="col-md-1">
			{{<p>€</p>o.price}}
		 </div>
     
     
     
       

<div class="col-md-1">
			 <button type="button" class="btn btn-primary btn-xs" ng-click="removeFromBasket($index,b._id)">Remove</button>
    &nbsp;
		 </div>	

		  <div class="col-md-1">
		 </div>
</div>
</div>
 
</div> 
</div> 
  



<div id="editFoodItemOnMenuLayer" ng-show="editingFoodItemOnMenu" >
 <!-- to shield the other inputs during an edit -->
</div>
